* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main {
  display: flex;
  flex-direction: row;
}
.wrapped {
  margin: auto;
}
.cart {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 400px;
}
.tshirt1 {
  display: flex;
  align-items: center;
}

.tshirt2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tshirt3 {
  display: flex;
  align-items: center;
}

img {
  width: 150px;
}

.counter {
  display: flex;
  flex-direction: row;
}

#increment,
#decrement {
  border: none;
  padding: 10px;
  background-color: transparent;
}
